label for="fname" First Name:
input#fname type="text" name="song[fname]" value="#{@song.fname}"
label for="lname" Last Name:
input#lname type="text" name="song[lname]" value="#{@song.lname}"
label for="email" Email:
input#email type="email" name="song[email]" value="#{@song.email}"
label for="major" Major:
input#major type="text" name="song[major]" value="#{@song.major}"
label for="gpa" GPA:
input#gpa type="number" step="any" name="song[gpa]" value="#{@song.gpa}"
input type="submit" value="Save Student Data"